<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Fullstack Developer at
      <a class="underline-link" href="https://brokenatom.io/" target="_blank">Broken</a> building a nocode platform which enables users to build end to end applications in less than 5 minutes. I recently graduated from
      <a class="underline-link" href="https://www.iitb.ac.in/" target="_blank">Indian Institute of Technology, Bombay</a> with a Bachelors in Computer Science and Engineering.
    </p>

    <p>
      As a software engineer, I enjoy building beautiful, scalable, and performant web applications. As a product architect, I enjoy writing code that is easy to understand and maintain. I'm also a big fan of open source software and I try to contribute to the community whenever I can.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably scribbling out my thoughts, reading something I found interesting, going on a drive, or just sleeping.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>