<section class="section college-projects">
	<div class="section__title">College Projects</div>
	<div class="section__content">
		{% for project in site.data.college-projects %}
		<div class="project">
			<div class="project__name">
				<a href="{{project.url}}" target="_blank" class="arrow-link">{{project.name}}</a>
			</div>
			<p>{{project.description}}</p>
			{% for item in project.used %}
			<div class="project__used">
				<span class="project__used__item">{{item.thing}}</span>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</section>