<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="jobs">
      {% for job in site.data.experience %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a href="{{job.url}}" target="_blank">{{job.company}}</a> ({{job.position}})
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <ul>
          {% for point in job.points %}
          <li>
            - {{point}}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>

    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
  </div>
</section>
